#room {
    z-index: 200;
    position: absolute;
    top: calc(100% - 200px);
    left: 100px;
    bottom: 10px;
	display: flex;
}
video {
    height: 100%;
    display: none;
    margin-bottom: 30px;
    border-style: solid;
    border-width: 10px;
    border-radius: 50%;
    cursor: grab;
}

video:not(:first-child) {
    margin-left: 10px;
}