.Board {
    height: 900px;
    width: 900px;
}
#Board {
    background-color: transparent;
    border-style: outset;
    position: absolute;
    background-image: url('../resources/background/board.png');
    background-size: contain;
}
.toolbar {
    display: flex;
    width: fit-content;
    height: 100%;
    padding: 10px;
    flex-direction: column;
    background-color: black;
    position: absolute;
}
.config {
    border-style: solid;
    border-color: silver;
    background-color: rgba(192, 192, 192, 0.418);
    border-width: 5px;
    width: fit-content;
    padding: 10px;
    margin-left: 60px;
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: center;
}
svg{
    margin-top: 10px;
    width: 20px;
    max-height: 50px;
}
button {
    background-color: black;
    border-style: none;
}
.tool {
    stroke: white;
    stroke-width: 5px;
}
.tool-container {
    display: flex;
    align-items: center;
}
.toolarrow {
    width: 10px;
    height: 10px;
}
.toolarrow:hover {
    transform: translateX(3px);
}