#mainpage {
    height: 100vh;
    width: 100%;
    background-color: #2B2B28;
    font-family: 'Noto Sans', sans-serif;
    color: white;
}
.main-nav{
    display: flex;
    position: absolute;
    width: 100%;
    top: 0;
    justify-content: space-between;
    align-items: center;
}
.nav-home {
    color: #E3B04B;
    margin-left: 10px;
    font-size: 2em;
}
.right-nav {
    display: flex;
    align-items: center;
    justify-content: center;
}
.main-text {
    display: flex;
    width: 100%;
    height: 100%;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
#board-image {
    bottom: 100px;
    width: 700px;
    height: 420px;
    background-image: url('../resources/background/xd.png');
    background-size: cover;
    margin-top: 30px;
}
.text-box {
    padding: 15px;
    border-radius: 10px;
    font-size: 2em;
    color: black;
    background-color: #F8F8F8;
    border-style: solid;
    border: 3px solid #000000;
    box-sizing: border-box;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
.text-box:hover{
    cursor: pointer;
    transform: scale(1.1, 1.1);
    transition: all 0.4s;
}
.nav-separation {
    margin-right: 10px;
    margin-top: 10px;
}

.color-yellow {
    color: #E3B04B;
}
.background-yellow{
    background-color: #E3B04B;
}
#title {
    font-size: 144px;
    font-weight: bold;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
#title-description {
    text-align: center;
    font-size: 1.2em;

}
#login-wrapper {
    width: 100%;
    height: 100vh;
    background-color: #2B2B28;
    display: flex;
    align-items: center;
    justify-content: center;
}
.login-container {
    height: 100%;
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
#login {
    font-size: 4em;
    justify-self: start;
}
.default-input {
    border-radius: 10px;
    height: 20px;
    margin-top: 20px;
    outline: none;
    transition: width 0.4s ease-in-out;
}
.default-input:focus{
    border: 3px solid #E3B04B;
}
.incorrect-input {
    border: 3px solid rgb(241, 71, 20);
}
#accept-area {
    display: flex;
    align-self: flex-end;
    justify-content: center;
    align-items: center;
}
#messageAlert {
    margin-right: 20px;
    color: #F8F8F8;
    word-wrap: break-word;
    width: 100px;
}
.default-button {
    margin-top: 10px;
    padding: 15px;
    border-radius: 10px;
    text-align: center;
    width: 100px;
    font-size: 1em;
    color: black;
    background-color: #E3B04B;
    border-style: solid;
    border: 3px solid #000000;
    box-sizing: border-box;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    transition: all 0.2s;
}
.default-button:hover {
    cursor: pointer;
    transform: scale(1.05, 1.05);
}
.flex-end {
    align-self: flex-end;
}