#room {
    border-style: solid;
    border-color: black;
    background-color: white;
    z-index: 200;
    position: absolute;
    top: calc(100% - 200px);
    left: 100px;
	height: 200px;
	display: flex;

}
textarea {
	height: 50px
}
#room button {
    color: white;
	background: #827397;
	height: 50px
}

video {
    height: 100%;
    display: none;
}

video:not(:first-child) {
    margin-left: 10px;
}